.wrapper{
    display: grid;
    border: 2px solid black;
    grid-template-columns: 200px 200px 200px 200px;
}
.box{
    border: 2px solid orange;
    padding: 10px;
}
.box1{
    border: 2px solid orange;
    padding: 30px;
}